<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

	<div class="navbar-header">
		<a class="navbar-brand" href="/">
			<span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
			NP3 GOOD
		</a>

		<ul class="nav navbar-nav">
			<li><a href="/buy">BUY</a></li>
			<li><a href="/">SELL</a></li>
			<li><a href="/">TEST</a></li>
		</ul>
	</div>
</div>
</nav>