<div>
 <input type="text" name="id">
 <input type="text" name="pw">
 <button id="login_btn">로그인</button>
</div>


<script>
var login_btn = document.getElementById("login_btn");
var input = document.querySelectorAll("input");
console.log(input[0].value)
login_btn.addEventListener('click', function(){

var email = input[0].value;
var password = input[1].value;

console.log(email)
    firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
    // Handle Errors here.
    var errorCode = error.code;
    var errorMessage = error.message;
    // ...

console.log(errorMessage)

console.log(errorCode)
if(errorCode.includes("user-not-found")) {
    firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
  // Handle Errors here.
  var errorCode = error.code;
  var errorMessage = error.message;
  // ...

console.log(errorMessage)

console.log(errorCode)
});
}
    });
});
   
</script>