<div class="col-md-8 player">
	<div class="row album">
		<audio id="player2" controls autoplay loop>
			<% lists.forEach(function(list) { %>
				<source src='../../musics/<%= list %>' type="audio/mp3">	
			<% }); %>
		</audio>
		<img src="/images/seoul.png" alt="앨범이미지"> 
	</div>
	<div class="row controller">
		<div class="col-md-3">
			<img src="/images/back.png">
			<button>back</button>
		</div>
		<div class="col-md-3">
			<img src="/images/play.png">
			<button>play</button>
		</div>
		<div class="col-md-3">
			<img src="images/advance.png">
			<button>next</button>
		</div>
	</div>
</div>

<script>
	// You can use either a string for the player ID (i.e., `player`), 
	// or `document.querySelector()` for any selector
	var player = new MediaElementPlayer('player2', {
		pluginPath: 'https://cdnjs.com/libraries/mediaelement/',
	// When using `MediaElementPlayer`, an `instance` argument
	// is available in the `success` callback
		success: function(mediaElement, originalNode, instance) {
			// do things
			this.on("onended", function(err) {
				console.log("test")
			})
		}
	});
</script>