<div class="col-md-8 player">
	<div class="row album">
		<img src="/images/seoul.png" alt="앨범이미지"> 
	</div>
	<div class="row controller">
		<div class="col-md-3">
			<img src="/images/back.png">
			<button>back</button>
		</div>
		<div class="col-md-3">
			<img src="/images/play.png">
			<button>play</button>
		</div>
		<div class="col-md-3">
			<img src="images/advance.png">
			<button>next</button>
		</div>
	</div>
</div>