<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en" style="height: 100%";>
<head>
	<% include ../partials/head %>
</head>

<body>
	<script type="text/javascript" src="/js/pre.js"></script>
	<script type="text/javascript" src="/js/post.js"></script>

	<header>
		<% include ../partials/header %>
	</header>

	<% player.play() %>
	
	<main>
		<% include ../partials/test_player %>
		<div class="col-md-1" style="height: 100%;"></div>
		<% include ../partials/test_playlist %>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
</body>

</html>